<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLoginApp">
        <activity
            android:name="com.example.WolaNani.DonateFundraiser"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.AddFundraiser"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.Fundraisers"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.Volunteers"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.Donations"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.adminHome"
            android:exported="false" />
        <activity
            android:name="com.example.WolaNani.Contact"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.Volunteer"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.Donate"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.AboutUs"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.HowWeOperate"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.OurHistory"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.Home"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.Register"
            android:exported="true" />
        <activity
            android:name="com.example.WolaNani.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>